.side-nav {
  width: 260px;
  height: 100vh;

  background-color: var(--surface);
  color: var(--text);

  padding: 1rem;

  border-right: 1px solid var(--muted-text);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  transform: translateX(-100%);
  transition: transform 200ms ease;
}

.side-nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.side-nav-title {
  font-weight: 600;
  font-size: 1rem;
}

.side-nav-close {
  background: none;
  border: none;
  font-size: 1.25rem;
  color: var(--text);
  cursor: pointer;
}


.side-nav.open {
  transform: translateX(0);
}

/* Navigation */
.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav li {
  margin-bottom: 0.75rem;
}

.side-nav a {
  display: block;
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius);

  color: var(--text);
  text-decoration: none;
}

.side-nav a:hover {
  color: var(--side-bar-btn-color);
  background-color: var(---side-bar-btn-color-hoover);
}

.side-nav a.active {
  background-color: var(--side-bar-btn-background-color-selected);
  color: var(--side-bar-btn-color);
  border: 2px solid var(--side-bar-btn-color-border);
}

.side-nav-logo {
  height: 50px;      
  max-width: 120px;  
  width: auto;

  object-fit: contain;
  cursor: pointer;
}

