<app-character-layout>
<h3 class="text-center section-title-whiz">Weapons</h3>

    <button (click)="navigateToCreateWeapon()">Create Weapon</button>
  <h3>Equiped Weapons</h3>
  Pour chaque arme, il faudra un bouton : Edit, Delete, Equip/Unequip, Sell
  <br><br>
  <ul>
    @for (item of characterStore.weapons(); track item.id) {
      @if (item.isEquipped) {
        <li>{{ item.name }}</li>
      }
    }
  </ul>

  <hr />

  <h3>Weapon in the inventory</h3>
  <ul>
    @for (item of characterStore.weapons(); track item.id) {
      @if (!item.isEquipped) {
        <li>{{ item.name }}</li>
      }
    }
  </ul>
</app-character-layout>
