<app-character-layout>
  <h3 class="text-center section-title-whiz">Weapons</h3>

  <button (click)="navigateToCreateWeapon()">Create Weapon</button>
  <h3>Equiped Weapons</h3>
  Pour chaque arme, il faudra un bouton : Edit, Delete, Equip/Unequip, Sell
  <br /><br />

  <table>
    <tr>
      <th>Name</th>
      <th>Atk bonus</th>
      <th>Damage</th>
      <th>Unequip</th>
    </tr>
    @for (item of characterStore.weapons(); track item.id) {
      @if (item.isEquipped) {
        <tr>
          <td>{{ item.name }}</td>
          <td></td>
          <td> {{ getDamageLabel(item.damageDiceType) }} </td>
          @if (item.id) {
            <td><button (click)="toggleEquip(item.id)">Unequip</button></td>
          }
        </tr>
      }
    }
  </table>

  <hr />

  <h3>Weapon in the inventory</h3>
  <table>
    <tr>
      <th>Weapon</th>
      <th>Equip</th>
      <th>Delete</th>
      <th>Value</th>
      <th>Sell</th>
    </tr>

    @for (item of characterStore.weapons(); track item.id) {
      @if (!item.isEquipped) {
        <tr>
          <td>{{ item.name }}</td>
          @if (item.id) {
            <td><button (click)="toggleEquip(item.id)">Equip</button></td>
          }

          @if (item.id) {
            <td><button (click)="deleteWeapon(item.id)">Delete</button></td>
          }
          <td>{{ item.value }}</td>
          <td><button>Sell</button></td>
        </tr>
      }
    }
  </table>
</app-character-layout>
