.class-list-subtitle {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  font-size: 1rem;
  font-weight: normal;
  color: #666; /* Ou une couleur de ton thème */
}

.class-list-subtitle li {
  display: inline;
}

.class-list-subtitle li:not(:last-child):after {
  content: " | "; /* Sépare les classes par une barre verticale */
  margin: 0 5px;
}