<app-character-layout>
  <h3>Create Weapon</h3>

  <form (submit)="onSubmit($event)">
    <h4>General info</h4>
    <!-- ITEM -->
    <label>Name</label><br />
    <input type="text" [field]="weaponForm.name" /><br /><br />

    <label>Description</label><br />
    <textarea [field]="weaponForm.description"></textarea><br /><br />

    <label>Quantity</label><br />
    <input type="number" [field]="weaponForm.quantity" /><br /><br />

    <label>Item rarity</label><br />
    <select [field]="$any(weaponForm.itemRarity)">
      @for (rarity of rarityOption; track rarity) {
        <option [value]="rarity">{{ ItemRarityType[rarity] }}</option>
      }</select
    ><br /><br />

    <label>Value in gold</label><br />
    <input type="number" [field]="weaponForm.value" /><br /><br />

    <label>Weight in lb.</label><br />
    <input type="number" [field]="weaponForm.weight" /><br /><br />

    <label>Is this item equiped?</label>
    <input type="checkbox" [field]="weaponForm.isEquipped" class="ms-2" /><br /><br />

    <!-- WEAPON -->
    <h4>Weapon info</h4>

    <label>Attack Type</label><br>
    <select [field]="$any(weaponForm.attackType)">
        @for (attackType of attackTypeOption; track attackType) {
            <option [value]="attackType">{{ AttackType[attackType] }}</option>
        }
    </select><br><br>

    @if (isRange()) {
        <label>Range Type</label><br>
    <select [field]="$any(weaponForm.rangeType)">
        @for (rangeType of rangeTypeOption; track rangeType) {
            <option [value]="rangeType">{{ RangeLabel[rangeType] }}</option>
        }
    </select><br><br>
    }

    <label>Damage Type</label><br />
    <select [field]="$any(weaponForm.damageType)">
      @for (damageType of damageTypeOption; track damageType) {
        <option [value]="damageType">{{ DamageType[damageType] }}</option>
      }</select
    ><br /><br />

    <label>Bonus Attack Roll Type</label><br />
    <select [field]="$any(weaponForm.bonusAttackRollType)">
      @for (bonusAttack of bonusAttackRollTypeOption; track bonusAttack) {
        <option [value]="bonusAttack">{{ BonusAttackRollLabel[bonusAttack] }}</option>
      }</select
    ><br /><br />

    <label>Damage Dice Type</label><br />
    <select [field]="$any(weaponForm.damageDiceType)">
      @for (damageDice of damageDiceTypeOption; track damageDice) {
        <option [value]="damageDice">{{ DamageDiceLabel[damageDice] }}</option>
      }</select
    ><br /><br />

    <label>Light Weapon?</label>
    <input type="checkbox" [field]="weaponForm.isLight" class="ms-2"><br><br>

    <label>Finesse Weapon?</label>
    <input type="checkbox" [field]="weaponForm.isFinesse" class="ms-2"><br><br>

    <label>Thrown Weapon?</label>
    <input type="checkbox" [field]="weaponForm.isThrown" class="ms-2"><br><br>

    <label>Versatile Weapon?</label>
    <input type="checkbox" [field]="weaponForm.isVersatile" class="ms-2"><br><br>

    <label>Ammunition Weapon?</label>
    <input type="checkbox" [field]="weaponForm.isAmmunition" class="ms-2"><br><br>

    <label>Heavy Weapon?</label>
    <input type="checkbox" [field]="weaponForm.isHeavy" class="ms-2"><br><br>

    <label>Reach Weapon?</label>
    <input type="checkbox" [field]="weaponForm.isReach" class="ms-2"><br><br>

    <label>Two Handed Weapon?</label>
    <input type="checkbox" [field]="weaponForm.isTwoHanded" class="ms-2"><br><br>

    <label>Loading Weapon?</label>
    <input type="checkbox" [field]="weaponForm.isLoading" class="ms-2"><br><br>

    <label>Special Weapon?</label>
    <input type="checkbox" [field]="weaponForm.isSpecial" class="ms-2"><br><br>


    <!-- MAGIC ITEM -->
    <div>
      <h4>Magic weapon info</h4>

      <label>Is this item atuned to you?</label>
      <input type="checkbox" [field]="weaponForm.isAttuned" class="ms-2" />
      <br /><br />
    </div>

    <br />
    <button type="submit">Submit</button>
  </form>
</app-character-layout>
