<app-character-layout>
  <h3 class="text-center section-title-whiz">Saving Throws</h3>
  
  <div class="card-grid">
    @for (st of characterStore.savingThrows(); track st.savingThrowType) {
      <app-value-display-card
        [label]="st.savingThrowType"
        [isLabelUnderline]="st.isProficient"
        [value]="st.modifier"
        (edit)="openModal(st)"
      />
    } @empty {
      @if (characterStore.isLoading()) {
        <p class="text-center">Loading saving throws...</p>
      }
    }
  </div>
</app-character-layout>

<app-boolean-edit-modal
  [title]="label()"
  [value]="isSelectedSavingThrowProficient()"
  [isOpen]="isModalOpen()"
  (close)="isModalOpen.set(false)"
  (save)="onSave($event)"
/>